<div class="main">
<h1>Prices</h1>

<div class="servicePrices">
<div class="prices" >

<div id="thread" class="types">
    <h3>- Threading</h3>
    <ul>
        <li >Eyebrows <span style="margin:134px;">Rs.30</span></li>
        <li>Upper Lip <span style="margin:132px;">Rs.30</span></li>
        <li>Chin<span style="margin:171px;">Rs.30</span></li>
        <li>Full face<span style="margin:146px;">Rs.30</span></li>
        <li></li>
    </ul>
</div>
<div id="wax" class="types">
    <h3>- Waxing</h3>
    <ul>
        <li>Full Arms<span style="margin:142px;">Rs.200</span></li>
        <li>Half Arms<span style="margin:139px;">Rs.150</span></li>
        <li>Full Legs<span style="margin:146px;">Rs.300</span></li>
        <li>Half Legs<span style="margin:144px;">Rs.250</span></li>
        <li>Under Arms<span style="margin:130px;">Rs.60</span></li>
        <li>Full Back<span style="margin:145px;">Rs.250</span></li>
        <li>Full Front <span style="margin:140px;">Rs.300</span></li>
        <li>Hollywood<span style="margin:138px;">Rs.400</span></li>
        <li>Full Body<span style="margin:146px;">Rs.1800</span></li>
    </ul>
</div>
<div id="spraytan" class="types">
    <h3>- Spray Tan<span style="margin:129px; font-size: 15px;">Rs.400</span> </h3>
</div>
<div id="nails" class="types">
    <h3>- Nails</h3>
    <ul>
    <li>Shellac Nails <span style="margin:124px;">Rs.50</span></li>
    <li>Shellac Toes <span style="margin:128px;">Rs.40</span></li>
    <li>Shellac French<span style="margin:118px;">Rs.40</span></li>
    <li>Bio Gel <span style="margin:160px;">Rs.30</span></li>
    <li>Bio French<span style="margin:143px;">Rs.30</span></li>
    <li>Gel Removal<span style="margin:129px;">Rs.20</span></li>
    <li>Varnish Removal <span style="margin:100px;">Rs.20</span></li>
    <br><br>
    <li>Manicure<span style="margin:154px;">Rs.50</span></li>
    <li>With Gel Polish<span style="margin: 113px;">Rs.40</span></li>
    <li>Pedicure<span style="margin:160px;">Rs.30</span></li>
    <li>With Gel Polish<span style="margin:114px;">Rs.30</span></li>
</ul>
</div>


</div>
<div class="prices" id="secDiv">
    <div id="hairCut" class="types">
        <h3>- Haircut</h3>
        <ul>
            <li>Dry Cut<span style="margin:167px;">Rs.230</span></li>
            <li>Bob cut<span style="margin:169px;">Rs.300</span></li>
            <li>Feather cut<span style="margin:148px;">Rs.290</span></li>
            <li>V Or U cut<span style="margin:149px;">Rs.230</span></li>
            <li>Short pr Long Layered<span style="margin:74px;">Rs.300</span></li>
            <li>Pixie Cut<span style="margin:159px;">Rs.270</span></li>
            <li>Step with layer<span style="margin:123px;">Rs.340</span></li>
            <li>Streight cut<span style="margin:145px;">Rs.980</span></li>
            <li>A-line<span style="margin:180px;">Rs.148</span></li>
            <li>wispy haircut<span style="margin:136px;">Rs.328</span></li>
        </ul>
    </div>
    <div id="Facials" class="types">
    <h3>- Facials</h3>
    <ul>
        <li>Normal Facial<span style="margin:134px;">Rs.300</span></li>
        <li>Herbal Facial<span style="margin:141px;">Rs.500</span></li>
        <li>Anti Ageing<span style="margin:151px;">Rs.580</span></li>
    </ul>
</div>
<div class="massage" class="types">
    <h3>- Massage</h3>
    <ul>
        <li>Indian Head Massage<span style="margin:98px;">Rs.40</span></li>
        <li>Back,Neck ,Shoulder<span style="margin:99px;">Rs.150</span></li>
        <li>Full Body Massage <br>(Includes Hot Towel)<span style="margin:100px;">Rs.370</span></li>
    </ul>
</div>
<div id="hairColor" class="types">
    <h3>- Hair Color</h3>
    <ul>
        <li>Colour Roots<span style="margin:152px;">Rs.100</span></li>
        <li>Full Head Colour<span style="margin:128px;">Rs.300</span></li>
        <li>Half Head H/L<span style="margin:146px;">Rs.200</span></li>
        <li>Full Head<span style="margin:176px;">Rs.300</span></li>
        <li>Colour Cut Finish<span style="margin:125px;">Rs.100</span></li>
    </ul>
</div>
    <div id="bridal" class="types">
        <h3>- Hair and Make-Up</h3>
        <ul>
            <li>Bridal<span style="margin:202px;">Rs.15000</span></li>
            <li>Bridal Package<span style="margin:146px;">Rs.20000</span></li>
        </ul>
    </div>
</div>
</div>
</div>

<app-footer></app-footer>