<div class="cards">
    <div class="card1">
      <img
        src="https://media.istockphoto.com/photos/beautiful-woman-has-cutting-hair-at-the-hairdresser-picture-id475632357?k=6&m=475632357&s=612x612&w=0&h=XlGiI080zIHjgcYuEODqDwpnmO2YPIcWJ5EaLmb6dYY="
        alt="image nf"
      />
      <h3>HAIR CUT</h3>
      <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aspernatur,
        saepe Lorem ipsum dolor sit amet consectetur, adipisicing elit.
        Aspernatur, saepe Lorem ipsum dolor sit <span id="dots">...</span>
        <span id="more">amet consectetur, adipisicing  Lorem ipsum dolor sit amet consectetur, adipisicing elit.
           Aspernatur,  saepe Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aspernatur, saepe Lorem
            ipsum dolor sit amet consectetur, adipisicing elit. Aspernatur, saepe.elit. Aspernatur, saepe.</span> 
      </p>
      <button onclick="myFunction()" id="myBtn">Read more</button>
    </div>
    <div class="card1">
      <img
        src="https://img.grouponcdn.com/deal/njVZVaY64CtL38SJbHeG/aH-960x576/v1/c870x524.jpg"
        alt="image nf"
      />
      <h3>BODY MASSAGE SPA</h3>
      <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aspernatur,
        saepe Lorem ipsum dolor sit amet consectetur, adipisicing elit.
        Aspernatur, saepe Lorem ipsum dolor sit <span id="dots">...</span>
        <span id="more">amet consectetur, adipisicing  Lorem ipsum dolor sit amet consectetur, adipisicing elit.
           Aspernatur,  saepe Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aspernatur, saepe Lorem
            ipsum dolor sit amet consectetur, adipisicing elit. Aspernatur, saepe.elit. Aspernatur, saepe.</span> 
      </p>
      <button onclick="myFunction()" id="myBtn">Read more</button>
    </div>
    <div class="card1">
      <img
        src="https://1.bp.blogspot.com/-pFkcfO_lk44/XrX2KI4Jb3I/AAAAAAAABDY/SXfOMj2LB98Za0mypTZMUi2grOokgnUQwCLcBGAsYHQ/s1600/Facial-Massage.jpg"
        alt="image nf"
      />
      <h3>FACE MASSAGE</h3>
      <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aspernatur,
        saepe Lorem ipsum dolor sit amet consectetur, adipisicing elit.
        Aspernatur, saepe Lorem ipsum dolor sit <span id="dots">...</span>
        <span id="more">amet consectetur, adipisicing  Lorem ipsum dolor sit amet consectetur, adipisicing elit.
           Aspernatur,  saepe Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aspernatur, saepe Lorem
            ipsum dolor sit amet consectetur, adipisicing elit. Aspernatur, saepe.elit. Aspernatur, saepe.</span> 
      </p>
      <button onclick="myFunction()" id="myBtn">Read more</button>
    </div>
    <div class="card1">
      <img
        src="https://th.bing.com/th/id/OIP._vM8rbYLDVsYMZdFryeGNwHaHa?pid=ImgDet&rs=1"
        alt="image nf"
      />
      <h3>FACE SPA</h3>
      <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aspernatur,
        saepe Lorem ipsum dolor sit amet consectetur, adipisicing elit.
        Aspernatur, saepe Lorem ipsum dolor sit <span id="dots">...</span>
        <span id="more">amet consectetur, adipisicing  Lorem ipsum dolor sit amet consectetur, adipisicing elit.
           Aspernatur,  saepe Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aspernatur, saepe Lorem
            ipsum dolor sit amet consectetur, adipisicing elit. Aspernatur, saepe.elit. Aspernatur, saepe.</span> 
      </p>
      <button onclick="myFunction()" id="myBtn">Read more</button>
    </div>
    <div class="card1">
      <img
        src="https://th.bing.com/th/id/OIP.ckYjNtrxUADVgnoY-UZKjgHaFj?pid=ImgDet&rs=1"
        alt="image nf"
      />
      <h3>HAIR STEAMING</h3>
      <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aspernatur,
        saepe Lorem ipsum dolor sit amet consectetur, adipisicing elit.
        Aspernatur, saepe Lorem ipsum dolor sit <span id="dots">...</span>
        <span id="more">amet consectetur, adipisicing  Lorem ipsum dolor sit amet consectetur, adipisicing elit.
           Aspernatur,  saepe Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aspernatur, saepe Lorem
            ipsum dolor sit amet consectetur, adipisicing elit. Aspernatur, saepe.elit. Aspernatur, saepe.</span> 
      </p>
      <button onclick="myFunction()" id="myBtn">Read more</button>
    </div>
    <div class="card1">
      <img
        src="https://th.bing.com/th/id/R.8deac8710c02b4da52390dd9b87bae3c?rik=w%2bRunk8UVdjxFg&riu=http%3a%2f%2fwww.colourcosmetica.com%2fwp-content%2fuploads%2fshutterstock_372136753-kopia-mini.jpg&ehk=kpsJOSEV37Yw68CtQI%2fpU8n2xW1jPNIS8vLznaCDgJc%3d&risl=&pid=ImgRaw&r=0"
        alt="image nf"
      />
      <h3>SHAMPOO & BLOWDRY</h3>
      <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aspernatur,
        saepe Lorem ipsum dolor sit amet consectetur, adipisicing elit.
        Aspernatur, saepe Lorem ipsum dolor sit <span id="dots">...</span>
        <span id="more">amet consectetur, adipisicing  Lorem ipsum dolor sit amet consectetur, adipisicing elit.
           Aspernatur,  saepe Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aspernatur, saepe Lorem
            ipsum dolor sit amet consectetur, adipisicing elit. Aspernatur, saepe.elit. Aspernatur, saepe.</span> 
      </p>
      <button onclick="myFunction()" id="myBtn">Read more</button>
    </div>
    <div class="card1">
      <img
        src="https://th.bing.com/th/id/R.996853d52fdf8f33af1c8ef76364e411?rik=f9%2faVoO06%2b7W8w&riu=http%3a%2f%2fwww.thesantabarbaraspa.com%2fwp-content%2fuploads%2f2015%2f11%2fshutterstock_157790984.jpg&ehk=6T9YL5dbAiqsLIJLhNA1ulVFWa%2bTnP5UeJ7eU6FGZBo%3d&risl=1&pid=ImgRaw&r=0"
        alt="image nf"
      />
      <h3>FULL BODY WAXING</h3>
      <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aspernatur,
        saepe Lorem ipsum dolor sit amet consectetur, adipisicing elit.
        Aspernatur, saepe Lorem ipsum dolor sit <span id="dots">...</span>
        <span id="more">amet consectetur, adipisicing  Lorem ipsum dolor sit amet consectetur, adipisicing elit.
           Aspernatur,  saepe Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aspernatur, saepe Lorem
            ipsum dolor sit amet consectetur, adipisicing elit. Aspernatur, saepe.elit. Aspernatur, saepe.</span> 
      </p>
      <button onclick="myFunction()" id="myBtn">Read more</button>
    </div>
    <div class="card1">
      <img
        src="https://www.sanctuarysalondayspa.com/wp-content/uploads/2019/08/threading-and-waxing.jpg"
        alt="image nf"
      />
      <h3><small>PERFECT & SAFE </small>THREADING</h3>
      <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aspernatur,
        saepe Lorem ipsum dolor sit amet consectetur, adipisicing elit.
        Aspernatur, saepe Lorem ipsum dolor sit <span id="dots">...</span>
        <span id="more">amet consectetur, adipisicing  Lorem ipsum dolor sit amet consectetur, adipisicing elit.
           Aspernatur,  saepe Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aspernatur, saepe Lorem
            ipsum dolor sit amet consectetur, adipisicing elit. Aspernatur, saepe.elit. Aspernatur, saepe.</span> 
      </p>
      <button onclick="myFunction()" id="myBtn">Read more</button>
    </div>
  </div>