<div id="services">

  <div class="curve">
    <h1>"Unveil Your Inner Beauty: Services We Provide"</h1>
    <h3>"Experience transformative beauty at its finest-indulge <br>in our rejuvenating services tailored just for you."</h3>
  </div>
  <div class="img" id="img1">
    <img
    src="https://i.pinimg.com/736x/91/cf/2f/91cf2f48bb6a9e7c74f6edbd1cb32733--lavender-nails-nail-flowers.jpg"
    alt="image nf"
  />
  </div>
  <div class="img" id="img2">
    <img
    src="https://www.tapetus.pl/obrazki/n/65266_kobieta-oko-makijaz-irys.jpg"
    alt="image nf"
  />
  </div>
  <div class="img" id="img3">
    <img
    src="https://th.bing.com/th/id/OIP.IIU-ci5EkTuulY-PO5kH5AAAAA?pid=ImgDet&rs=1"
    alt="image nf"
  />
  </div>
  <div class="img" id="img4">
    <img
    src="https://www.freeiconspng.com/uploads/sale-stickers-png-20-off-label-png-10.png"
    alt="image nf"
  />
  </div>

   
  </div>

  <app-cards class="cards"></app-cards>
  <app-footer></app-footer>