.LPopup{
    width:40vw;
    border: 6px rgb(245, 93, 238) ridge;
    border-radius: 100px 0px;
    background-color:#f0bce1 ;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) scale(1);
    text-align: center;
    color: #333;
    transition: transform 1s ,top 0.4s;
    visibility: visible;
    opacity: 0.9;
  }
  /* .openloginpopup{
    transform: translate(-50%,-50%) scale(1);
    visibility: visible;
    top: 55%;
  } */
  #para1{
    text-align: center;
    font-size: 15px;
    color: rgb(10, 9, 10);
    font-family:Arial, Helvetica, sans-serif;
    margin: -11px 0px;
    padding: 6px 14px;
    -webkit-text-stroke:0.2px rgb(246, 249, 250) ;
  }
 
  .bttn{
     display: block;
      width: 370px;
      height: 50px;
      margin:20px auto;
      padding: 10px;
      border:rgb(247, 250, 250) ridge 4px;
      font-size: 18px;
      font-family:Arial, Helvetica, sans-serif;
       background-color: black;
       color: aliceblue;
       overflow-y: hidden;
  }
  .bttn:active{
    color: rgb(247, 249, 247);
    background-color: rgb(10, 116, 10);
  }
  .closelgn{
    position: absolute;
    background-color: rgb(161, 159, 159);
    padding:5px 6px;
    border: none;
    color: rgb(11, 10, 10);
    margin-top: -78px;
    margin-left: 222px;
  }
  .form-group {
    position: relative;
    padding: 5px;
      font-size:20px;
      display: flex;
      align-items: center;
      -webkit-text-stroke:0.4px rgb(13, 14, 14) ;
  }
  .form-group span{
    display: inline;
    position: absolute;
     margin-top: -1px;
     margin-left: 45px;
     padding-top: -25px;
  }
  small{
    margin-left: -300px;
  }
  .form-group input{
      width: 420px;
      margin: 8px auto;
      font-size: 15px;
      padding: 10px;
      padding-left: 48px;
      border: #000 2.5px ridge;
      color: rgb(7, 7, 7);
      border-radius: 8px;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      background-color: #f9f6f6;
      /* cursor: text; */
  }
 
  